<html>
<body class="container" style="padding-top: 30px;">
  <div style="padding-right:130px ;padding-left:130px;font-family: cursive; padding-bottom: 3px;" class="form-group ">
    <label for="bio"></label>
    <textarea  [(ngModel)]="publication.contenu" class="form-control" id="bio"  rows="3" placeholder="Quoi de neuf ?"></textarea>
  </div>

  <div style="padding-left:130px">
  <button id="b"  type="button" (click)="addPub()" style="width: 200px;"  type="submit" [disabled]="isAuth" class="btn">publier</button>
  </div>
 
 <div *ngIf="publications.length >0; else noPublications" >
  <div id="pub">
       <p *ngFor="let c in publications">
                   {{c.contenu}}
       </p>
  </div>
</div>
<ng-template #noPublications>
  <p style="font-family: cursive;" class="text-center"> Pas de Publications !</p>
</ng-template>



       <p class="text-center info-text" style="font-family: cursive;">
        vous ne pouvez pas paratager aucune publication sans etre  membre dans <strong>ClubOrganizer</strong> .Vous etes les bienvenus !
       </p>
       <div style="align-items: center;">
       <button id="b1"  style="font-family: cursive; width: 100%;" routerLink="/inscrireSite" type="submit"  class="btn"> S'inscrire  </button>
      </div>
  <script>
    
function myFunction() {
  document.getElementById('demo').innerHTML = document.getElementById('ok').value;
}

</script>
</body>
<footer>
  <p  class="text-center" style="font-weight: bolder; font-size:larger; font-family:cursive"> Powered by <i class="fas fa-power-off"> glsi</i></p>
</footer>

</html>