


body{
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    position:relative;
    padding-bottom:20px;
    
}

h1{
    color:#CDB3D4;
}

.btn{
    background-color: #f0ddf6;
}
.btn:hover{
    background: #CDB3D4;
    transition: .5s;
    border-radius: 50% 4px;
}
textarea{
width:50rem;
cursor: pointer;
height: 108px; 
box-shadow: 0px 0px 3px black;
}

footer {
    padding: 5px;
    background: linear-gradient(70deg,#B5FFFF, #FCA5F1);
    color: black;
    width: 100%;
    position:fixed;
    height:70px;
    bottom: 0;
    left: 0;
    right: 0;
    
}