



body{
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    position:relative;
    padding-bottom:150px;
    background-color:white
}


footer {
        padding: 5px;
        background-color:lightyellow;
        color: black;
        width: 100%;
        position:fixed;
        height:70px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top:8px;
    }


    textarea{
        background-color:aliceblue;
        color: black;
        border: none;
        cursor: pointer;
        height: 200px;
        font-family: cursive;
    }
    textarea:hover {
        background-color:white;
        border: 1px solid black;
    }

    
   button{
        background-color:darkblue;
        color: white;
        border: none;
        cursor: pointer;
        font-family:'Courier New', Courier, monospace;
        text-align: center;
    }
    button:hover {
        background-color:darkgray;
        border: 2px solid black;
        font-weight:2rem;
        
    }