<div style="background-color:lemonchiffon;" class="container">
    <div class="row">
    <div style="font-weight:100px; font-size: 70px; color:lightpink">
        <p style="font-family:cursive;" class=" text-center"><strong> Go into ClubOrganizer !</strong></p>
    </div>
    </div>

<div class="row">
    <div class="col-md-5">
        <h1>À propos</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas vel expedita dolorem error nulla corporis aliquam amet nostrum nihil, perspiciatis corrupti, libero dignissimos ducimus, repudiandae saepe dicta quidem commodi maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat quaerat odit nam fugit commodi quod rerum delectus labore iure, expedita maiores iusto ullam dolorem cum nulla, porro tempora dolores!
      </p>  
    </div>  
    <div class="col-md-1"></div>
    <div class="col-md-5">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="mb-3">
          <label for="name"  style="font-size: 25px;  font-family: serif;" class=" form-label">Nom</label>
          <input type="text"  required name="name" ngModel class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="prenom"  style="font-size: 25px;  font-family: serif;" class="form-label">Prenom</label>
          <input type="text"  required name="prenom" ngModel class="form-control" id="prenom">
        </div>
        <div>
            <div class="mb-3">
                <label for="mail"  style="font-size: 25px;  font-family: serif;" class="form-label">l'adresse email</label>
                <input type="email"  required id="mail"  style="font-size: 25px;  font-family: serif;" placeholder="nom.prenom@isticbc.org" class="form-control" ngModel name="mail">
              </div>
              <div class="mb-3">
                <label for="pass"  style="font-size: 25px;  font-family: serif;" class="form-label">Mot de passe</label>
                <input type="password"  required  ngModel name="pass" class="form-control" id="pass" required>
              </div>
            <button id="abc" type="submit" [disabled]="f.invalid">ENREGISTRER </button>
            <button type="reset" > ANNULER</button>
        </div>
      </form>
    </div>   
</div>
</div>


