<html>
<body class="container" style="padding-top:110px;"> 
  <div style="padding-right:130px ;padding-left:130px;font-family: cursive; padding-bottom: 3px;" class="form-group ">
    <label for="zoneText"></label>
    <textarea  class="form-control" id="zoneText2"  rows="3" placeholder="Quoi de neuf ?"></textarea>
  </div>

  <div style="padding-left:130px">
  <button id="b2"  type="button" (click)="addPub($event)" style="width: 200px;"  type="submit" [disabled]="isAuth2" class="btn">publier</button>
  </div>
  <div class="text-center" id="zoneAffichage2">

  </div>

  </body>
<footer>
  <p  class="text-center" style="font-weight: bolder; font-size:larger; font-family:cursive"> Powered by <i class="fas fa-power-off"> glsi</i></p>
</footer>

</html>