 <div  class="container">
        <div class="row-12">
            <h1 class=" text-center">Créez votre club </h1> 
            <h2 class=" text-center"> Tentez ta chanche !</h2>
        </div>
    <div class="row-12">
        <div class="col-md-6">
        <form>
            <div>
              <label for="i1"  style="font-size: 25px;  font-family: serif;" class=" form-label">Nom</label>
              <input type="text" class="form-control" id="i1" aria-describedby="emailHelp">
            </div>


            <div>
              <label for="i2"  style="font-size: 25px;  font-family: serif;" class="form-label">Prenom</label>
              <input type="text" class="form-control" id="i2">
            </div>


            <div>
            <label for="i7"  style="font-size: 25px;  font-family: serif;" class="form-label">Nom du club</label>
              <input type="text" class="form-control" id="i7">
            </div>
                <div class="mb-3">
                    <h3 style="font-family: serif;" >Pourquoi créer ce club ?  </h3>
                    <form>
                      <textarea placeholder="Dites nous quelque chose .. "> </textarea>
                    </form>
                 </div>
                <div class="mb-3">
                    <label for="i3"  style="font-size: 25px;  font-family: serif;" class="form-label">@email</label>
                    <input type="email"  style="font-size: 25px;  font-family: serif;" placeholder="nom.prenom@istic.ucar.tn" class="form-control" id="i3">
                  </div>

                  <input  class="btn" type="submit" value="Enregistrer">
                  <input  class="btn" type="reset" value="Annuler">
          </form>
        </div> 
        <div id="window" class="col-md-6"></div>
    </div>
    </div>

