<div class="container">
    <div class="row-12">
        <h1 class="text-center" style=" width:max; font-weight: 850;font-size:4.5em; font-family: cursive;background-color:lavenderblush; padding:50px 50px">ClubOrganizer</h1>
    </div>
<div class="row">
        <div class="col-md-4" style="padding-top:10px; padding-bottom: 50px;">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="https://www.coindusalarie.fr/sites/default/files/styles/grande-image/public/fichiers/documents-et-images/fiches-pratiques/le%20cong%C3%A9%20pour%20cr%C3%A9er%20son%20entreprise.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">NOUVEAU CLUB</h5>
                <div class="card-text" > <p> Prière de lire la note suivante : </p>
                <a href="#"> lien<i class="fa-solid fa-link-simple"></i> </a>
                </div>
               
                <div class="btn-group-vertical ">
                    <a routerLink="/sAuthentifier"   class="btn btn-primary">Accéder</a><br>
                    <a routerLink="/abonnerClub"  class="btn btn-primary">s'abonner</a>
                  </div>
                </div>
               </div>
        </div>
</div>
  
        <p  style="font-family: cursive;" class="text-center"><strong>L'avenir est à vous !</strong><i class="far fa-flower"></i></p>
    
</div>
