<div class="container">
    <div class="row-12">
        <h1 class="text-center" style=" width:max; font-weight: 850;font-size:4.5em; font-family: cursive;background-color:lavenderblush; padding:50px 50px">ClubOrganizer</h1>
    </div>

        <div class="col-md-6" style="padding-top:10px;"></div>
        <div class="col-md-6" style="padding-top:10px;">

       <div class="card" style="width: 18rem;">
        <img src="https://www.coindusalarie.fr/sites/default/files/styles/grande-image/public/fichiers/documents-et-images/fiches-pratiques/le%20cong%C3%A9%20pour%20cr%C3%A9er%20son%20entreprise.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">NOUVEAU CLUB</h5>
        <div class="card-text" > <p> Prière de lire la note suivante : </p>
        <a href="#"> voici le lien </a>
        </div>
        <a routerLink="/creerClub" class="btn btn-primary">Créer votre club </a>
        </div>
       </div>

        </div>
</div>
