.container{
    background-color: aliceblue;
    height:100%;
    padding-top: 20px;
}
footer {
    padding: 5px;
    background: linear-gradient(70deg,#B5FFFF, #FCA5F1);
    color: black;
    width: 100%;
    position:relative;
    height:70px;
    bottom: 0;
    left: 0;
    right: 0;
    
}