.container{
  
    margin-top: 20px;
    background-image:url() ;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
form{
    margin-top: 20px;
}
img{
    margin-top: 10px;
}
button  {
    width: 100%  ;
    color: white;
}

a{
    text-decoration: none;
    color: rgb(175, 175, 243);
    font-size: 1.1em;
    font-weight:bolder;
    padding-left: 30px;
    font-family:'Courier New', Courier, monospace;
    
}

 a:hover{
color:rgb(84, 143, 236);

}