.navbar{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px solid ;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(70deg, #FCA5F1, #B5FFFF);
  }
  a:hover{
    background: #CDB3D4;
    transition: .5s;
    border-radius: 50% 4px;
    background-color: linear-gradient(70deg, #FCA5F1, #B5FFFF);


  }
  .nav-link{
    color: white;

  }
  .center{
      align-content: center;
  }