nav{
    background-color:#fff;
    width:max;
    font-weight: bolder;
    padding-top :30px;
    display: flex; 
    padding-bottom: 10px;
    color:rgb(230, 109, 189);
}
nav a {
    text-decoration: none;
    color:black;
    font-size: 1.9em;
    font-weight:900px;
    padding-left: 30px;
    font-family:'Courier New', Courier, monospace;
    
}

nav a:hover{
color:pink}

.abc{
    text-decoration: none;
    color:lightblue;
    padding-left: 30px;
    font-family:'Courier New', Courier, monospace;
}