<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
<ul class="nav nav-pills">
  <li class="navbar-brand" >
    <a class="navbar-brand"  routerLinkActive="active" routerLinkActive="active" routerLink="/home"><i class="fas fa-home"></i>Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Clubs</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item abc" routerLinkActive="active"routerLink="/creerClub">créer un nouveau club</a></li>
      <li><a class="dropdown-item abc"routerLinkActive="active" routerLink="/clubsCards">Voir nos clubs </a></li>
    </ul>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/event">Even<i class="fas fa-calendar-alt"> t</i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/meetings">Meetings<i class="fas fa-bell"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/parametres">Sett<i class="fas fa-cogs">ings</i></a>
    </li>
</ul>
</nav>
