<div class="navbar">
  <div class="  col-3">logo</div>
   <ul class="nav justify-content-center col-6 ">
   <li class="nav-item">
     <a class="nav-link "   style="color:white;"aria-current="page"  routerLink="/home"><i class="fas fa-home"></i>Accueil</a>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button" aria-expanded="false">Clubs</a>
    <ul class="dropdown-menu" style="font-weight: bold; background-color:rgb(147,112,219)">
      <li style="font-weight: bold;color: white;"><a class="dropdown-item abc" routerLink="/creerClub">Créer un nouveau club</a></li>
      
      <li style="font-weight: bold; color: white;"><a class="dropdown-item abc" routerLink="/clubsCards">Voir nos clubs </a></li>
    </ul>
   
   
 </ul>
 <ul class="nav col-3">
  <li class="nav-item">
    <a class="nav-link"  routerLink="/inscrireSite">S'inscrire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/parametres"><i class="fas fa-cog"></i></a>
  </li>
   </ul>
</div>
