<div class="container">
    <br>
    <div class="row">
        <h1 style="font-family:'Courier New', Courier, monospace; font-weight:2000px;" class="text-center">DEVENEZ UN MEMBRE! </h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
        <form  (ngSubmit)="onSubmit3(fo)" #fo="ngForm">
            <div class="mb-3">
              <label for="nomprenom"  style="font-size: 25px;  font-family: serif;" class=" form-label">Nom & PRENOM:</label>
              <input required type="text" name="nomprenom" ngModel class="form-control" id="nomprenom" aria-describedby="emailHelp">
            </div>
            <div>
                  <div class="mb-3">
                    <label for="pass"  style="font-size: 25px;  font-family: serif;" class="form-label">Mot de passe:</label>
                    <input   ng-minlength="6" type="password" name="pwd" ngModel  required class="form-control" id="pass" required>
                    <span class="text-danger" ng-show="registerForm.Password.$error.minlength">
                      Doit contenir au minimum 6 caractères
                    </span>
                  </div>
                  
                  <div class="mb-3">
                    <h3 style="font-family: serif;" >Les objectifs de nous rejoindre:</h3>
                    
                    <textarea name="objectif" ngModel required class="form-control" placeholder="Dites nous quelque chose .. "> </textarea>
                  </div>
                  <input  class="btn"  [disabled]="fo.invalid" type="submit" value="Enregistrer">
                  <input  class="btn" type="reset" value="Annuler">
            </div>
          </form>
        </div>
        <div id="yes" class="col-md-6">

        </div>
    </div>
</div>

